apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  namespace: dev  # вказуємо неймспейс
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
      - name: web
        image: nginx:alpine # легкий образ для тесту
        ports:
        - containerPort: 80