apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  namespace: prod # інший неймспейс
spec:
  replicas: 2 # тут зробимо більше копій
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
      - name: web
        image: nginx:alpine
        ports:
        - containerPort: 80